.doctorList{
    background: #d7d7d7;
}
.selected{
    background: #d7d7d7;
}
.contentBox{
	margin:10px;
}
.title{
    text-align: center;
    font-size: 18px;
    width:100%;
    color:#666666;
}
.chargeTitle {
    height: 40px;
    background: #E6E6E6;
    line-height: 40px;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-top: 3px double #666666;
    width: 100%;
}

.sureBtn {
    width: 80px;
    height: 100%;
    color: #fff;
    background: #ff4d4d;
    line-height: 43px;
    text-align: center;
}

.countText1 {
    width: 100px;
    text-align: right;
}

.countText2 {
    flex: 1;
    text-align: left;
}

.topLine1 {
    border-top: 2px solid #CCCCCC;
    height:calc(100% - 40px - 54px);
    overflow-y: auto;
}
.infoText2 {
    color: #CCCCCC;
    font-size: 12px;
}

.infoBox {
    margin-left: 10px;
}

.doctorItem {
    height: auto;
    border-bottom: 1px solid #CCCCCC;
}

.listImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.imgBox {
    margin-left: 10px;
}

.leftInfo {
    width: 60px;
}

.itemBox {
    background: #fff;
    height: 60px;
    border: 1px solid #B3B3B3;
    width: 100%;
}

.itemBox2 {
    background: #fff;
    height: 45px;
    border: 1px solid #B3B3B3;
    width: 100%;
    font-size: 20px;
    line-height: 45px;
}

.itemText1 {
    height: 35px;
    line-height: 35px;
    font-size: 18px;

    margin-left: 15px;
}

.itemText2 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #FF6666;

    margin-left: 15px;
}
.dateBox{
	/*background: #FF6666;*/
	width:50px;
	height:50px;
	color:#7F7F7F;
	display: inline-block;
}
.choose{
	background: #55c3b5;
	color:#fff;
}
.dateContainer{
	margin-top:1px;
	display: inline-block;
	width:100%;
	overflow-x: auto;
	white-space: nowrap;

}
.dateText1{
	margin-top:10px;
	text-align: center;
	font-size: 12px;
}
.dateText2{
	text-align: center;
	font-size: 12px;
}
.costText{
	display: inline-block;
	width:60px;
	color:#666666;
	font-size: 19px;
	margin-top:10px;
	text-align: center;
}
.t1{
	display: inline-block;
	font-size: 14px;
	color:#7F7F7F;
	text-align: right;
    margin-right:5px;
}
.t2{
	display: inline-block;
	font-size: 14px;
	color:#333333;
	text-align: center;
    margin-right:5px;
    min-width: 50px;
}
.t0{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color:#4C4C4C;
    margin-right:5px;
    
}
.leftIcon {
    background: #B3B3B3;
    flex:1;
    color: #fff;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}
.weekText{
	font-size: 0px;
	white-space:none;
	height:14px;
	color:#4C4C4C;
}
.btnArea{
	width:80px;
	text-align: center;
}
.weekText span{
	font-size: 12px;
	/*border:1px solid #E6E6E6;*/
	display: inline-block;
	width:35px;
	height:14px;
	line-height: 14px;
	text-align: center;
}
.weekText span.current{
	background: #55c3b5;
	color:#FFFFFF;
}
.registerBtn{
	width:60px;
	height:20px;
	background: #55c3b5;
	color:#fff;
	font-size: 14px;
	margin-left:10px;
}
.chargeBox {
    width: 250px;
    height:500px;
    border: 1px solid #B3B3B3;
    background: #efefef;
    position: relative;
}
.rightBottom{
	position: absolute;
	right:10px;
	bottom: 10px;
}
